## Setup

### Import Packages

In [1]:
# Raw Package

#To get today's date

In [11]:
#Data Source (Pandas Data Reader)

#Data Source(Yahoo Finance)

# -------------------------------------------------------------------------------------------

# Pandas Data Reader

In [12]:
#Define start and end date

### Yahoo Finance

In [14]:
#Use Pandas Data Reader and yahoo finance to get the data
TSLA = 
TSLA.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-01,597.849976,572.049988,597.590027,584.760010,40382800,584.760010
2020-12-02,571.539978,541.210022,556.440002,568.820007,47775700,568.820007
2020-12-03,598.969971,582.429993,590.020020,593.380005,42552000,593.380005
2020-12-04,599.039978,585.500000,591.010010,599.039978,29401300,599.039978
2020-12-07,648.789978,603.049988,604.919983,641.760010,56309700,641.760010

# -------------------------------------------------------------------------------------------

# Yahoo Finance API

In [6]:
#Define start and end date

In [7]:
#Download Netflix data

#Interval required 15 minutes

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-01-15 09:30:00-05:00,500.000000,505.970001,500.000000,502.929993,502.929993,503928
2021-01-15 09:45:00-05:00,503.595001,503.630005,499.714996,499.910004,499.910004,242812
2021-01-15 10:00:00-05:00,500.000000,500.670013,497.209991,500.640015,500.640015,246333
2021-01-15 10:15:00-05:00,500.398895,501.549988,497.649994,499.179993,499.179993,189650
2021-01-15 10:30:00-05:00,499.149994,500.760010,498.630005,498.950012,498.950012,231644
...,...,...,...,...,...,...
2021-01-20 14:45:00-05:00,591.258972,591.820007,588.229980,589.354980,589.354980,612863
2021-01-20 15:00:00-05:00,589.312988,592.400024,588.859985,590.447205,590.447205,661250
2021-01-20 15:15:00-05:00,590.380493,592.989990,589.122498,590.030029,590.030029,679903
2021-01-20 15:30:00-05:00,590.155029,590.809998,586.940002,589.174988,589.174988,1030662
2021-01-20 15:45:00-05:00,589.174988,590.830017,585.929993,586.250000,586.250000,1523793

# -------------------------------------------------------------------------------------------

# Data Visualisation

In [1]:
import plotly.graph_objs as go